:root{
    --azul_uno : #5086c1;
    --azul_dos : #6a9eda;
    --azul_tres: #84b6f4;
    --azul_cuatro: #b2dafa;
    --azul_cinco : #dcffff;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--azul_uno);
}

.row{
    padding: 0;
    margin: 0;
}

header{
    background-color: var(--azul_dos);
}

header .titulo{
    text-align: center;
    padding: 5vh 0 5vh 0 ;
    color: whitesmoke;
}

header > .log_in{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

article{
    padding: 5vh 0 5vh 0;
}

.sub_titulo{
    text-align: center;
    padding: 5vh;
    color: whitesmoke;
}

form{
    background-color: var(--azul_tres);
    display: flex;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
    padding: 5vh 0 5vh 0;
    border-radius: 20px;
    border: solid 3px var(--azul_cuatro);
}

form > input{
    margin: 2vh 0 0 0;
}
form > .checkbox{
    margin: 2vh 0 2vh 0;
    padding: 2vh 1vh 2vh 1vh ;
    background-color: var(--azul_uno);
    color: whitesmoke;
    border-radius: 10px;
}

footer{
    padding: 5vh;
    background-color: var(--azul_tres);
}

footer > div > div > h2{
    text-align: center;
    color: whitesmoke;
}
